flows.json
[{"id":"4035b379.afceac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"383d152b.1915ca","type":"serial in","z":"4035b379.afceac","name":"","serial":"3a02d27d.ad735e","x":160,"y":480,"wires":[["c3c7fa18.3ff31"]]},{"id":"510563fa.f8ee44","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"6a3c93d3.8a2f3c","order":2,"width":0,"height":0,"gtype":"gage","title":"Vento","label":"km/h","format":"{{payload.vento}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":320,"wires":[]},{"id":"7da0641.2dcfd9c","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"6a3c93d3.8a2f3c","order":1,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"Lux","format":"{{payload.luminosidade}}","min":0,"max":"1020","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"30b787b.36072f8","type":"ui_gauge","z":"4035b379.afceac","name":"","group":"6a3c93d3.8a2f3c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{payload.temperatura}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":400,"wires":[]},{"id":"2f067e5d.6372ca","type":"mqtt in","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_vento","qos":"2","datatype":"auto","broker":"c7cd0177.cd0f6","x":210,"y":320,"wires":[["d98dc3ee.842d68"]]},{"id":"b8214140.4537f","type":"mqtt out","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_vento","qos":"","retain":"","broker":"c7cd0177.cd0f6","x":710,"y":500,"wires":[]},{"id":"a408dd22.ae99e8","type":"switch","z":"4035b379.afceac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"179","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["28b05974.a69ac6","7b10619a.00fab8"]]},{"id":"25e7a798.dc63d8","type":"twitter out","z":"4035b379.afceac","twitter":"","name":"Tweet","x":850,"y":260,"wires":[]},{"id":"28b05974.a69ac6","type":"function","z":"4035b379.afceac","name":"","func":"msg.payload = \"Vento rápido:\" + msg.payload + \" Kilometros por Hora\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["25e7a798.dc63d8"]]},{"id":"75f97953.79ecb8","type":"mqtt out","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_temperatura","qos":"","retain":"","broker":"c7cd0177.cd0f6","x":730,"y":580,"wires":[]},{"id":"1a3593b2.392a24","type":"mqtt out","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_luminosidade","qos":"","retain":"","broker":"c7cd0177.cd0f6","x":730,"y":540,"wires":[]},{"id":"c3c7fa18.3ff31","type":"function","z":"4035b379.afceac","name":"","func":"let payload = msg.payload\npayload = payload.split(\",\")\nmsg.payload = {\n    \"luminosidade\":parseInt(payload[0]),\n    \"temperatura\":parseInt(payload[1]),\n    \"vento\":parseInt(payload[2])\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["c5ea78db.02bc08","f07a549b.157a1","54618b20.13e35c"]]},{"id":"7d4d95f1.e0208c","type":"inject","z":"4035b379.afceac","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"120,110,250","payloadType":"str","x":150,"y":600,"wires":[["c3c7fa18.3ff31"]]},{"id":"c5ea78db.02bc08","type":"function","z":"4035b379.afceac","name":"","func":"msg.payload = msg.payload.vento\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["b8214140.4537f"]]},{"id":"f07a549b.157a1","type":"function","z":"4035b379.afceac","name":"","func":"msg.payload = msg.payload.luminosidade\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":540,"wires":[["1a3593b2.392a24"]]},{"id":"54618b20.13e35c","type":"function","z":"4035b379.afceac","name":"","func":"msg.payload = msg.payload.temperatura\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":580,"wires":[["75f97953.79ecb8"]]},{"id":"192dd276.d07a56","type":"mqtt in","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_luminosidade","qos":"2","datatype":"auto","broker":"c7cd0177.cd0f6","x":230,"y":360,"wires":[["1da24fa9.6864b"]]},{"id":"c81e5af0.8b73c","type":"mqtt in","z":"4035b379.afceac","name":"","topic":"theBugs_medidor_temperatura","qos":"2","datatype":"auto","broker":"c7cd0177.cd0f6","x":230,"y":400,"wires":[["766570a7.f00fe8"]]},{"id":"7b10619a.00fab8","type":"debug","z":"4035b379.afceac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"967dd7a4.1ec3a8","type":"debug","z":"4035b379.afceac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":180,"wires":[]},{"id":"d98dc3ee.842d68","type":"function","z":"4035b379.afceac","name":"","func":"\nmsg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["510563fa.f8ee44","a408dd22.ae99e8","967dd7a4.1ec3a8"]]},{"id":"1da24fa9.6864b","type":"function","z":"4035b379.afceac","name":"","func":"\nmsg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["7da0641.2dcfd9c"]]},{"id":"766570a7.f00fe8","type":"function","z":"4035b379.afceac","name":"","func":"\nmsg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":400,"wires":[["30b787b.36072f8"]]},{"id":"3a02d27d.ad735e","type":"serial-port","serialport":"/dev/tnt1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"6a3c93d3.8a2f3c","type":"ui_group","name":"Medidores","tab":"f6ae684f.3d9a48","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7cd0177.cd0f6","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f6ae684f.3d9a48","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]